name: Docker Container

on:
  push
    
jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}
      - name: Build and push to GHCR
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/flipfloppy1/flipfloppys-blog:latest
